.containerDiv {
  width: 1000px;
  height: 500px;
  border: 1px solid #333;
  overflow: auto;
  cursor: grab;
  user-select: none;
  position: relative;
  margin: 20px;
}

.zoomContent {
  transform-origin: 0 0;
  transition: transform 0.05s linear;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ccc;
}
